<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>getTimeline</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getTimeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTurtle</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getTurtle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendTriple</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.sendTriple</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRelations</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getRelations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEntities</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getEntities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetTable</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.resetTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTimes</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getTimes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRDF</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getRDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSimile</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getSimile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStatus</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.getStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timeVocabulary</servlet-name>
        <servlet-class>de.i3mainz.timeexplorer.timeVocabulary</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTimeline</servlet-name>
        <url-pattern>/getTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTurtle</servlet-name>
        <url-pattern>/getTurtle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendTriple</servlet-name>
        <url-pattern>/sendTriple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRelations</servlet-name>
        <url-pattern>/getRelations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEntities</servlet-name>
        <url-pattern>/getEntities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetTable</servlet-name>
        <url-pattern>/resetTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTimes</servlet-name>
        <url-pattern>/getTimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRDF</servlet-name>
        <url-pattern>/getRDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSimile</servlet-name>
        <url-pattern>/getSimile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStatus</servlet-name>
        <url-pattern>/getStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timeVocabulary</servlet-name>
        <url-pattern>/timeVocabulary</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
